/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    
}
/*container*/
.container{

    width: 800px;
    height: 1200px;
    background-color: #fff;
    margin: 0 auto;
}

.box{
    width: 250px;
    height: 500px;
}